{% extends 'mysite/base.html' %}
{% load staticfiles %}
{% block head_block %}
<link href="{% static 'css/jquery-ui.css'%}" rel="stylesheet" type="text/css">
{% endblock %}
{% block body_block %}
<section id="intro">
    </section>
<section id="add" class="home-section text-center">
    <br><br>
    <center>

    <h1>Add Campaign</h1>
    <form class="form-group" id="add_campaign_form" method="post">
        {% csrf_token %}
			{% for hidden in form.hidden_fields %}
				{{ hidden }}
			{% endfor %}
            <tr><td><table>
			{% for field in form.visible_fields %}
                <tr>
                <div class="fieldWrapper">
                    <td style="padding-right:60px; padding-top:15px;">{{ field.label_tag }}<br/>
                    {% if field.errors %}
                         {{ field.errors }} 
                    {% endif %}
                    </td>
                    <td>{{ field }}</td>
                </div>
                </tr>
			{% endfor %}<br/>
            <tr>
                    <td>
                        <label class="control-label" for="field1">Wishes:</label>
                    </td>
                    <td><select name="dropdown_wishes">
            {% for wish in wishes %}
                <option value="{{ wish.name }}">{{ wish.name }}</option>
            {% endfor %}
            </select>
            </td>
            </tr>
    <tr><td colspan="3" style="padding-top:10px;">
        <center><button style="width:250px;" type="submit" class="btn btn-skin" name="submitbutton" value="Submit">Submit</button>
        </center></td></tr>
    </table>
    </form>
</section>

{% endblock %}
{% block script_block %}
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script>
    $(function() {
        $( ".datepicker" ).datepicker({
          changeMonth: true,
          changeYear: true,
          dateFormat: "yy-mm-dd"
        });
    });
</script>
{% endblock %}
