{% extends 'mysite/base.html' %}
{% load staticfiles %}
{% block title %} Campaigns {% endblock %}
{% block head_block %}
<link href="{% static 'css/jquery-ui.css'%}" rel="stylesheet" type="text/css">
{% endblock %}
{% block body_block %}
<!--TODo modify html-->
<section id="intro">
    </section>
<section id="add" class="home-section text-center">
    <br><br>
    <center>
	    <h1>Update Campaign</h1>
	    <h2 style="color:#87CEEB;">{{ campaign.title }}</h2>

		<form class="form-group" id="add_campaign_form" method="post" enctype="multipart/form-data">
	        {% csrf_token %}
			{% for hidden in form.hidden_fields %}
				{{ hidden }}
			{% endfor %}
            <table border="0">
			{% for field in form.visible_fields %}
                <tr>
                <div class="fieldWrapper">
                    <td style="padding-right:60px;">{{ field.label_tag }}
                    {% if field.errors %}
                         {{ field.errors }} 
                    {% endif %}
                    </td>
                    <td>{{ field }}</td>
                </div>
                </tr>
			{% endfor %}<br/>
				<tr>
					<td>
						<label class="control-label" for="field1">Wishes:</label>
					</td>
					<td>
						<select name="dropdown_wishes">
							{% for wish in wishes %}
								<option value="{{ wish.name }}">{{ wish.name }}</option>
							{% endfor %}
						</select>
						<div class="container" style="width:300px">
							<div class="row">
								<input type="hidden" name="count" value="1" />
								<div class="control-group" id="fields">
									<div class="controls" id="profs">
										<form class="input-append">
											<div id="field">
												<input autocomplete="off" class="input" id="field1" name="prof1" type="text" placeholder="Input estimated cost"  />
												<button id="b1" class="btn add-more" type="button">+</button>
											</div>
										</form>
										<br/>
									</div>
								</div>
							</div>
						</div>
					</td>
				</tr>
		    </table>
			
	        <center><button style="width:250px; padding-top:10px;" type="submit" class="btn btn-skin" name="updatebutton" value="update">Update</button>
	        </center></td></tr>
	    </form>
	</center>
</section>
{% endblock %}
{% block script_block %}
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script>
    $(function() {
        $( ".datepicker" ).datepicker({
	        changeMonth: true,
	        changeYear: true,
	        dateFormat: "yy-mm-dd",
	        minDate: new Date(),
	        gotoCurrent: true,
        });
    	// Getter
		var gotoCurrent = $( ".selector" ).datepicker( "option", "gotoCurrent" );
		// Setter
		$( ".selector" ).datepicker( "option", "gotoCurrent", true );
    });
</script>
{% endblock %}
