{% extends 'mysite/base.html' %}
{% load static %}
{% block head_block %}
	<style>
		table, th, td {
		    padding: 5px;
		    text-align: left;
		    vertical-align: top;
		}
		table#targetTable tr:nth-child(even) {
		    background-color: #fff;
		}
		table#targetTable tr:nth-child(odd) {
		   background-color:#eee;
		}
		table#targetTable th	{
		    background-color: #87CEEB;
		    text-align: center;
		}
		#scroll_table{
			overflow-y: scroll; 
			height: 200px;
		}
	</style>
{% endblock %}

{% block body_block %}
<section id="intro">
    </section>
<section id="view" class="home-section text-center">
	<br/><br/>
	<center>
	<h1 style="color:#87CEEB;">{{ campaign.title }}</h1>
		<table border="0" id="t" style="width:1150px; margin-top: 0px; margin-left:50px;">
			<tr>
				<td style="width:20%; margin-left: 20px; padding-left: 20px; padding-right: 20px;">
					<center>
					{% if campaign.campaign_image %}
						<div style="width: 200px;">&nbsp;<img src="{{campaign.campaign_image.url}}" alt="" class="img-responsive img-circle" width="200px" /></div>
					{% else %}
						<div style="width: 200px;">&nbsp;<img src="static media/campaign_images/default.png" alt="" class="img-responsive img-circle" width="200px" /></div>
					{% endif %}
						<br/><br/>
			    		<div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count"></div>
		    		</center>
    			</td>
    			<td style="width:70%; padding-right:20px; padding-left:20px;">
    				<center>
    					<h2 style="padding-top: 5px;">Story</h2>
    					<p>{{ campaign.story }}</p>
    				</center>
    			</td>
    			<td style="width:10%; padding-right:20px; padding-left:20px;">
					<!-- TODO: List of wishes-->
					<center>
						<h3 style="padding-top:5px; height:20px; color:#87CEEB;">Wishlist</h3>
							<table id="t2" style="width:300px;">
				    		    {% for wish in wishes %}
				    			<tr>
				    				<td><h5 style="width:80%; padding-top: 5px; height: 20px;">{{ wish.wish.name }}</h5></td>
				    				<td id="td2"><h5 style="width:20%; padding: 0px; height: 20px;">
				    					{% if wish.completed == True %}
				    						<img src="{% static 'img/icons/checkbox-checked.png' %}" width="20" alt="Complete">
				    					{% else %}
				    						<img src="{% static 'img/icons/checkbox-unchecked.png' %}" width="20" alt="Incomplete">
				    					{% endif %}
				    				</h5></td>
				    			</tr>
				    			{% endfor %}
							</table>
						<br/>
						<h3 style="padding-top:5px; height:20px; color:#87CEEB;">Campaign Status</h3>
							<div class="progress">
				    			<div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="100"   aria-valuemin="0" aria-valuemax="100" style="width: {{ campaign_percentage }}%;">
					        		<span><b>{{ campaign_percentage }}%</b></span>
				    			</div>
				            </div>
		    			<h6>{{ campaign_percentage }}% Complete</h6>
				        {% if campaign_percentage < 100 %}
			    			<button onclick="location.href = '/donate/monetary/{{ campaign.slug }}';" style="width: 106px;" type="submit" class="btn btn-skin" id="btnDonate">Donate</button>
			    		{% endif %}
												
			    		<br/><br/><br/>
			    		<h3 style="padding-top:5px; height:20px; color:#87CEEB;">Donors List</h3>
			    		<div id="scroll_table">
				    		<table id="targetTable" style="width:100%;">
				    		{% for donor in donors %}
				    			<tr>
				    				<td><h5>{{ donor.user.username }}</h5></td>
				    				<td><h5>₱ {{ donor.amount }}</h5></td>
				    			</tr>
				    		{% endfor %}
				    		{% for donor in unregistered_donors %}
				    			<tr>
				    				<td><h5>{{ donor.name }}</h5></td>
				    				<td><h5>₱ {{ donor.amount }}</h5></td>
				    			</tr>
				    		{% endfor %}
				    		</table>
			    		</div>
			    	</center>
				</td>
			</tr>
		</table>
		{% if user.is_authenticated %}
			<!--TODO: if user is a social worker -->
			{% if role == "Soc" %}
			<button onclick="location.href = '/campaign/update/{{ campaign.id }}';" style="width:250px;" tonclick="location.href = 'www.yoursite.com';" ype="submit" class="btn btn-skin" name="updatebutton" value="Update">Update Campaign</button>
			{% endif %}
		{% endif %}
	</center>
</section>
<div id="fb-root"></div>
<script>
	(function(d, s, id) {
  		var js, fjs = d.getElementsByTagName(s)[0];
  		if (d.getElementById(id)) return;
  		js = d.createElement(s); js.id = id;
  		js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
  		fjs.parentNode.insertBefore(js, fjs);
	}
	(document, 'script', 'facebook-jssdk'));
</script>
<script type="text/javascript">
    $(function () {
	    var columnWidths = new Array();

	    // Get column widths
	    $("#headerRow").find('td').each(function (index) {
	        columnWidths[index] = $(this).width();
	    });

	    // get column data for header
	    var tableHeaderRow = $("#headerRow").html();

	    // clear header
	    $("#headerRow").html("");
	    // insert header data into new table container
	    $("#newTableHeader").html(tableHeaderRow);

	    // modify column width for header
	    $("#newTableHeader").find('td').each(function (index) {
	        $(this).css("width", columnWidths[index]);
	    });

	    // modify column width for 
	    // go to the next row, first row considered header column
	    $("#targetTable tr:first").next().find('td').each(function (index) {
	        $(this).css("width", columnWidths[index]);
	    });
	});
</script>
{% endblock %}
