{% extends 'mysite/base.html' %}
{% load staticfiles %}
{% block title %} Campaigns {% endblock %}
{% block head_block %}
<style>
	img.resize{
		width: 260px;
		height: 260px;
	}
</style>
{% endblock %}
{% block body_block %}
<section id="intro">
	</section>
<section id="about" class="home-section text-center">
	<br/><br/>
	<center>
		<h1>Campaigns</h1>
	</center>

	<div class="row">
		<div class="col-lg-2 col-lg-offset-5">
			<hr class="marginbot-50">
		</div>
	</div>
 	<div class="row">
		{% for campaign in campaigns %}
			<div class="col-xs-6 col-sm-3 col-md-3">	
	            <div class="team boxed-grey">
	                <div class="inner">
						<h5><a href="/campaign/view/{{campaign.slug}}">{{campaign.title}}</a></h5>
	                    <div class="avatar">
	                    {% if campaign.campaign_image %}
                    		<img class="resize" src="{{ campaign.campaign_image.url }}"alt="" class="img-responsive img-circle" height="300px" width="300px" />
                    	{% else %}
	                    	<img class="resize" src="media/campaign_images/default.png" alt="" class="img-responsive img-circle" height="300px" width="300px" />
	                    {% endif %}
	                    </div>
	                </div>
	            </div>                
				<div class="progress">
				{% if campaign.percentage %}
				    <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100" style="width: {{campaign.percentage}}%;">
	        		    <span class="sr-only">{{campaign.percentage}}% Complete</span>
	    			</div>
	    		{% endif %}
	            </div>
				{% if campaign.percentage %}
	            <h6>{{ campaign.percentage }}% Complete</h6>	
	    		{% endif %}
			</div>
		{% endfor %}
	</div>
	<div class = "pagination">
	    <span class = "step-links">	
	     	<br><br><br><br><br><br><br><br><br><br><br>
	        {% if campaigns.has_previous %}
				<a href="?page={{ campaigns.previous_page_number }}"><b><< PREVIOUS</b></a>
			{% endif %} 
		    <span class= "current">
				Page {{ campaigns.number }} of {{ campaigns.paginator.num_pages }}.
		    </span>
		    {% if campaigns.has_next %}
				<a href="?page={{ campaigns.next_page_number }}"><b>NEXT >></b></a>
			{% endif %} 
	    </span>
	</div>
</section>
{% endblock %}