{% extends 'mysite/base.html' %}
{% load static %}
{% block head_block %}
	<style>
		table, th, td {
		    padding: 5px;
		    text-align: center;
		}
		table#t2 tr:nth-child(even) {
		    background-color: #eee;
		}
		table#t2 tr:nth-child(odd) {
		   background-color:#fff;
		}
		table#t2 th	{
		    background-color: #87CEEB;;
		}
	</style>
{% endblock %}

{% block body_block %}
<section id="intro">
    </section>
<section id="view" class="home-section text-center">
	<br/><br/>
	<center>
		<table id="t" border="2" style="width:1150px; margin-top: 0px; margin-left:50px;">
			<tr>
				<th colspan="3" style="margin-left:20px; padding-top:10px; color:#87CEEB;">
					<h1>Fund Jean's Needs</h1></th>
			</tr>
			<tr>
				<td style="width: 200px; margin-left: 20px; padding-left: 20px; padding-right: 20px;">
					<div style="width: 200px;">&nbsp;<img src="{% static 'img/team/sample.jpg'%}" alt="" class="img-responsive img-circle" width="200px" /></div>
		    		<div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count"></div>
    			</td>
    			<td style="width:50%; padding-right:60px; padding-left:30px;">
					<!-- TODO: List of wishes-->
					<table>
			    		<tr></tr><td>
				    		<table id="t2" style="width:100%;">
				    		    <tr>
				    		    	<th colspan="3" style="width: 300px; margin-left: 30px;"><h3 style="padding-top:5px; height:20px; color:white;">Wishlist</h3></th>
				    		    </tr>
				    			<tr>
				    				<td><h5 style="padding-top: 5px; height: 20px;">Wheelchair</h5></td>
				    				<td style="padding-left: 100px;">&nbsp;</td>
				    				<td><h5 style="padding-top: 5px; height: 20px;">Checkbox</h5></td>
				    			</tr>
				    			<tr>
				    				<td><h5 style="padding-top: 5px; height: 20px;">Sacro Lumbar Support</h5></td>
				    				<td style="padding-left: 100px;">&nbsp;</td>
				    				<td><h5 style="padding-top: 5px; height: 20px;">Checkbox</h5></td>
				    			</tr>
				    		</table>
			    		</td></tr>
					</table>
				</td>
				<td>
					<table>
		    			<td><table id="t2"  style="width:100%;">
			    			<tr>
			    				<th style="color:white;"><center><h3 style="padding-top:5px; height:20px; color:white;">Campaign Status</h3></center></th>
			    			</tr>
			    			<tr>
			    				<td><div class="progress">
				    			   	<div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="100"   aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
					        		     <span><b>60% </b></span>
				    			   	</div>
				                </div></td>
				            </tr>
			    			<tr>
			    				<td><button style="width: 106px;" type="submit" class="btn btn-skin" id="btnContactUs">Donate</button></td>
			    			</tr>
			    		</table></td>
		    		</table>
				</td>
			</tr>
		</table>
	</center>
</section>
{% endblock %}