{% extends "mysite/base.html" %}
{% block title %} Register as a Group{% endblock %}


{% block body_block %}
<section id="intro">
</section>
<section id="about" class="home-section text-center">
<br><br>
<center>
<h1>Register Group</h1>
<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
<table>


<tr><td><h4>Group Information</h4></td></tr>
<tr><td>{{user_profile_form}}</td></tr>
<tr><td>&nbsp;</td></tr>
<tr><td><h5>Address</h5></td></tr>
<tr><td>{{address_form}}</td></tr>
<tr><td>&nbsp;</td></tr>
<tr><td>{{group_form}}</td></tr>
<tr><td>&nbsp;</td></tr>

</table>
<input type="submit" class="btn btn-skin" value="Continue >>"/>
</form> 
</center>
</section>
{% endblock %}
