{% extends "mysite/base.html" %}
{% block title %} Add Agent {% endblock %}

{% block body_block %}
<section id="intro">
</section>
<section id="about" class="home-section text-center">
<br><br><br><br>
<center>
<h1>Register</h1>
<form action="/your-name/" method="post">
    {% csrf_token %}
    <table>
  {{ form }}
    </table>
    <input type="submit" class="btn btn-skin pull-right" value="Submit" />
</form>
</center>
</section>
{% endblock %}
<button id="btnContactUs" class="btn btn-skin pull-right" type="submit"> Send Message</button>
