{% extends "mysite/base.html" %}
{% block title %} {{user_object.username}} {% endblock %}
{% block head_block %}
  <style>
    table, td {
        padding: 5px;
        text-align: left;
        vertical-align: top;
    }
    table, th{
      text-align: center;
    }
    table#t2 tr:nth-child(even) {
        background-color: #fff;
    }
    table#t2 tr:nth-child(odd) {
       background-color:#eee;
    }
    table#t2 td {
       text-align: left;
    }
    table#t2 th {
        background-color: #87CEEB;
        text-align: center;
    }
  </style>
{% endblock %}

{% block body_block %}
<section id="intro">
</section>
<section id="about" class="home-section text-center">
<br><br>



   {% if is_indiv %}
     <table  style="width:100%;">
      <tr>
        <th>
          <h1 style="color:#87CEEB;">{{details.first_name}}&nbsp;{{details.last_name}}</h1>
        </th>
      </tr>
      <tr>
        <td>
                <div class="col-xs-6 col-sm-3 col-md-3" style = "padding-left: 150px; left: 370px; width: 500px;">                
              
                <div class="avatar"> <img src="{{profile.photo.url}}" alt="" class="img-responsive img-circle"/></div>
      
                </div><br><br>
        </td>
      </tr>
      <tr>
        <td>
            <h3 style="padding-top:5px; height:20px; color:#87CEEB;">User Information</h3>
       </td>
      </tr>
      <tr>
        <td>
          <table id="t2" style="width:100%;">   
                <tr>   
               <td><h5> <b>Birthday:</b> </h5></td>
               <td>{{user_object.individual.birthday}}<br></td>
           </tr> 
                <tr>
                  <td>
                    <h5><b>Location:</b></h5>
                  </td>
                  <td>
                    {{user_object.userprofile.street}}, 
                    {% if user_object.userprofile.barangay %}
                       {{user_object.userprofile.barangay}},
                    {% elif user_object.userprofile.city %}
                       {{user_object.userprofile.city}},
                    {% elif user_object.userprofile.region %}
                       {{user_object.userprofile.region}},
                    {% endif %}
                    {{user_object.userprofile.country.name}}
                    
                  </td>
                </tr>
                <tr>
                  <td>
                    <h5><b>Campaigns Donated:</b></h5>
                  </td>
                  <td>
                      {% if donor %}
                          {% for s in donor.all %}
                                 <li><a href="/campaign/view/{{s.campaign.slug}}/">     {{s.campaign.title}} </a>&nbsp;( Php {{s.amount}})</li> 
                          {% endfor %}
                      {% else %}
                       None
                      {% endif %}
                  </td>
                  </tr>
                  <tr>
                  <td>
                    <h5><b>Campaigns Subscribed:</b></h5>
                   </td> 
                   <td>
                    {% if sub %}
                         {% for s in sub.all %}
                                  <a href="/campaign/view/{{s.campaign.slug}}/"><li>{{s.campaign.title}}</li></a>
                          {% endfor %}
                    {% else %}
                       None
                   {% endif %}
                  </td>
                  </tr>
                  <tr>

                   
                    <td><h5>
                    <b>Campaigns Created:</b></h5>
                    </td>
                    <td>
                     {% if created %}
                          {% for s in created.all %}
                                <a href="/campaign/view/{{s.slug}}/">  <li>{{s.title}}</li></a>
                          {% endfor %}
                     {% else %}
                       None
                     {% endif %}
                    </td>
                   </tr>
            </table>
         </td>  
         </tr>
         {% if user.is_authenticated %}
           {% if user_object.username == user.username %}
            <tr><td><h4>
            <a href="/profile/update/{{user.username}}">Update Profile </a>
            </h4></td></tr>
           {% endif %}
        {% endif %}


    </table> 
     {% else %}
    <table  style="width:100%;">
        <tr>
          <th>
            <h1 style="color:#87CEEB;">{{details.name}}</h1><br>
          </th>
        </tr>
        <tr>
          <td>
                 <div class="col-xs-6 col-sm-3 col-md-3" style = "padding-left: 150px; left: 370px; width: 500px;">                
                  
                    <div class="avatar"> <img src="{{profile.photo.url}}" alt="" class="img-responsive img-circle"/></div>
     
     
          
              </div><br><br>
          </td>
        </tr>
        <tr>
        <td>
          <h3 style="padding-top:5px; height:20px; color:#87CEEB;">User Information</h3>
        </td></tr>
          <tr><td>
          <table id="t2" style="width:100%;">  
           <tr>   
               <td><h5> <b>Page Address:</b> </h5></td>
               <td><a href="{{user_object.group.page_address}}">{{user_object.group.page_address}}</a><br></td>
           </tr>
           <tr>   
               <td><h5> <b>About:</b> </h5></td>
               <td>{{user_object.group.about}}<br></td>
           </tr>           
           
           <tr>   
               <td><h5> <b>Location:</b> </h5></td>
               <td>{{user_object.userprofile.street}}, 
                    {% if user_object.userprofile.barangay %}
                       {{user_object.userprofile.barangay}},
                    {% elif user_object.userprofile.city %}
                       {{user_object.userprofile.city}},
                    {% elif user_object.userprofile.region %}
                       {{user_object.userprofile.region}},
                    {% endif %}
                    {{user_object.userprofile.country.name}}
                    <br></td>
           </tr>
           <tr>
              <td><h5><b>Service Category:</b></h5></td>
              <td> 
                  {% if details %}
                      {% for s in details.service_category.all %}
                                  <li>{{s}}</li> 
                       {% endfor %}
                  {% else %}
                    None
                  {% endif %}
              </td>
            </tr>
            
           <tr>   
               <td><h5> <b>Registration Number:</b> </h5></td>
               <td>{{user_object.group.registration_number}}<br></td>
           </tr>
           <tr>   
               <td><h5> <b>Document:</b> </h5></td>
               {% if user_object.group.document %}
                  <td><a href="{{user_object.group.document.url}}/">  download document<br></a></td>
               {% else %}
                  <td>None</td>
               {% endif %}
           </tr>
           <tr>   
               <td><h5> <b>Comments:</b> </h5></td>
               <td>{{user_object.group.comments}}<br></td>
           </tr>
           <tr>   
               <td><h5> <b>Primary Contact:</b> </h5></td>
               <td>{{user_object.group.pc_first_name}}&nbsp; {{user_object.group.pc_last_name}}<br> {{user_object.group.pc_email}}<br> {{user_object.group.pc_job_title}}<br> {{user_object.group.pc_phone_number}}<br></td>
           </tr>
           <tr>   
               <td><h5> <b>Secondary Contact:</b> </h5></td>
               <td>{{user_object.group.sc_first_name}}&nbsp; {{user_object.group.sc_last_name}}<br> {{user_object.group.sc_email}}<br> {{user_object.group.sc_job_title}}<br> {{user_object.group.sc_phone_number}}<br></td>
           </tr>
            <tr>
              <td><h5><b>Campaigns Donated:</b></h5></td>
              <td>
                {% if donor %}
                    {% for s in donor.all %}
                             <li><a href="/campaign/view/{{s.campaign.slug}}/">     {{s.campaign.title}} </a> &nbsp;(Php {{s.amount}})</li> 
                    {% endfor %}
                {% else %}
                    None
                {% endif %}
              </td>
            </tr>
            <tr>
               <td><h5><b>Campaigns Subscribed:</b></h5></td>
               <td>
                {% if sub %}
                    {% for s in sub.all %}
                          <a href="/campaign/view/{{s.campaign.slug}}/">    <li>{{s.campaign.title}}</li> </a>
                                   {% endfor %}
                {% else %}
                    None
                {% endif %}
               </td>
            </tr>
            <tr>
             
              <td><h5><b>Campaigns Created:</b></h5></td>

              <td>
              {% if created %}
                  {% for s in created.all %}
                               <a href="/campaign/view/{{s.slug}}/"> <li>{{s.title}}</li></a>
                                   {% endfor %}</td>
              {% else %}
                   None
              {% endif %}
             </tr>
          
           </table>   
         </td>
         </tr>  
         {% if user.is_authenticated %}
           {% if user_object.username == user.username %}
            <tr><td><h4>
            <a href="/profile/update/{{user.username}}">Update Profile </a>
            </h4></td></tr>
           {% endif %}
        {% endif %}

      </table>
  {% endif  %}
</section>

{% endblock %}
