{% extends 'mysite/base.html' %}
{% load static %}
{% block body_block %}
	<!-- Section: intro -->
    <section id="intro" class="intro">
	
		<div class="slogan">
			<h2><span class="text_color">WESAVE</span> </h2>
			<h4>BRINGING OUT THE BAYANIHAN IN US THROUGH GIVING</h4>
		</div>
		<div class="page-scroll">
			<a href="#service" class="btn btn-circle">
				<i class="fa fa-angle-double-down animated"></i>
			</a>
		</div>
    </section>
	<!-- /Section: intro -->

	<!-- Section: about -->
    <section id="about" class="home-section text-center">
		<div class="heading-about">
			<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="wow bounceInDown" data-wow-delay="0.4s">
					<div class="section-heading">
					<h2>CAMPAIGNS</h2>
					<i class="fa fa-2x fa-angle-down"></i>

					</div>
					</div>
				</div>
			</div>
			</div>
		</div>
		<div class="container">

		<div class="row">
			<div class="col-lg-2 col-lg-offset-5">
				<hr class="marginbot-50">
			</div>
		</div>
        <div class="row">
            <div class="col-xs-6 col-sm-3 col-md-3">
				<div class="wow bounceInUp" data-wow-delay="0.2s">
                <div class="team boxed-grey">
               
                    <div class="inner">
						<h5><a href="">Donate</a></h5>
                        
                        <div class="avatar" style="
                           padding-left: 45px;
                           padding-top: 40px;">
                           <img src="{% static 'img/team/donate.png'%}" alt="" class="img-responsive img-circle" /></div>

                    </div>
                    <div class="service-desc">

                    	
					    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
					    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
						<p><b>Common Fund and Goods</b></p>
                       
					</div>
					
                </div>
                
				</div>
            </div>
			<div class="col-xs-6 col-sm-3 col-md-3">
				<div class="wow bounceInUp" data-wow-delay="0.5s">
                <div class="team boxed-grey">
                    <div class="inner">
						<h5><a href="">Maura</a></h5>
                        
                        <div class="avatar"><img src="{% static 'img/team/sample.jpg'%}" alt="" class="img-responsive img-circle" /></div>

                    </div>
                    <div class="service-desc">
						
						<p>Maura has cataract. She asks for help in funding her eye operation...

					</div>
					<div><br><b>₱ 7,600 raised&nbsp;&nbsp;&nbsp;20 days left</b></div>
                </div>
                
                <div class="progress">
    			   <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="20"   aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
        		     <span class="sr-only">20% Complete</span>
    			   </div>
                </div>

				</div>
            </div>
			<div class="col-xs-6 col-sm-3 col-md-3">
				<div class="wow bounceInUp" data-wow-delay="0.8s">
                <div class="team boxed-grey">
                    <div class="inner">
						<h5><a href="">Jack</a></h5>
                        
                        <div class="avatar"><img src="{% static 'img/team/sample.jpg'%}" alt="" class="img-responsive img-circle" /></div>

                    </div>
                    <div class="service-desc">
						
						<p>Jack wanted to walk again. He seeks funding or donation for crutches...</p>
					</div>
					<div><br><b>₱ 2,000 raised&nbsp;&nbsp;&nbsp;Funded</b></div>
                </div>
                
                <div class="progress">
    			   <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="100"   aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
        		     <span class="sr-only">100% Complete</span>
    			   </div>
                </div>
				</div>
            </div>
			<div class="col-xs-6 col-sm-3 col-md-3">
				<div class="wow bounceInUp" data-wow-delay="1s">
                <div class="team boxed-grey">
                    <div class="inner">
						<h5><a href="">Tom</a></h5>
                        
                        <div class="avatar"><img src="{% static 'img/team/sample.jpg'%}" alt="" class="img-responsive img-circle" /></div>

                    </div>
                    <div class="service-desc">
						
						<p>Tom wishes for a new customized wheelchair to be able to work again...</p>
					</div> 
					<div><br><b>₱ 1,400 raised&nbsp;&nbsp;&nbsp;10 days left</b></div>
                </div>
                
				</div>
				<div class="progress">
    			   <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="35"   aria-valuemin="0" aria-valuemax="100" style="width: 35%;">
        		     <span class="sr-only">35% Complete</span>
    			   </div>
                </div>
            </div>
        </div>	
        <div style="font-weight:bold"><a href="">More Campaigns</a></div>	
		</div>
	</section>
	<!-- /Section: about -->
	

	<!-- Section: services -->
    <section id="service" class="home-section text-center bg-gray">
		
		<div class="heading-about">
			<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="wow bounceInDown" data-wow-delay="0.4s">
					<div class="section-heading">
					<h2>Our Services</h2>
					<i class="fa fa-2x fa-angle-down"></i>

					</div>
					</div>
				</div>
			</div>
			</div>
		</div>
		<div class="container">
		<div class="row">
			<div class="col-lg-2 col-lg-offset-5">
				<hr class="marginbot-50">
			</div>
		</div>
        <div class="row">
            <div class="col-sm-3 col-md-3">
				<div class="wow fadeInLeft" data-wow-delay="0.2s">
                <div class="service-box">
					<div class="service-icon">
						<img src="{% static 'img/icons/service-icon-1.png'%}" alt="" />
					</div>
					<div class="service-desc">
						<h5>Create Campaign</h5>
						<p>Vestibulum tincidunt enim in pharetra malesuada. Duis semper magna metus electram accommodare.</p>
					</div>
                </div>
				</div>
            </div>
			<div class="col-sm-3 col-md-3">
				<div class="wow fadeInUp" data-wow-delay="0.2s">
                <div class="service-box">
					<div class="service-icon">
						<img src="{% static 'img/icons/service-icon-2.png'%}" alt="" />
					</div>
					<div class="service-desc">
						<h5>Monetary Donation</h5>
						<p>Vestibulum tincidunt enim in pharetra malesuada. Duis semper magna metus electram accommodare.</p>
					</div>
                </div>
				</div>
            </div>
			<div class="col-sm-3 col-md-3">
				<div class="wow fadeInUp" data-wow-delay="0.2s">
                <div class="service-box">
					<div class="service-icon">
						<img src="{% static 'img/icons/service-icon-3.png'%}" alt="" />
					</div>
					<div class="service-desc">
						<h5>In-Kind Donation</h5>
						<p>Vestibulum tincidunt enim in pharetra malesuada. Duis semper magna metus electram accommodare.</p>
					</div>
                </div>
				</div>
            </div>
			<div class="col-sm-3 col-md-3">
				<div class="wow fadeInRight" data-wow-delay="0.2s">
                <div class="service-box">
					<div class="service-icon">
						<img src="{% static 'img/icons/service-icon-4.png'%}" alt="" />
					</div>
					<div class="service-desc">
						<h5>Track your Donation</h5>
						<p>Vestibulum tincidunt enim in pharetra malesuada. Duis semper magna metus electram accommodare.</p>
					</div>
                </div>
				</div>
            </div>
        </div>		
		</div>
	</section>
	<!-- /Section: services -->
<section id="contact" class="contact">
	<div class="container">

		
		<div class="col-lg-4">
			<div class="widget-contact">
				<h5>Main Office</h5>
				
				<address>
				  <strong>WeSave, Inc.</strong><br>
				  Tower 795 Folsom Ave, Beautiful Suite 600<br>
				  San Francisco, CA 94107<br>
				  <abbr title="Phone">P:</abbr> (123) 456-7890
				</address>

				<address>
				  <strong>Email</strong><br>
				  <a href="mailto:#">email.name@example.com</a>
				</address>	
				<address>
				  <strong>We're on social networks</strong><br>
                       	<ul class="company-social">
                            <li class="social-facebook"><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li class="social-dribble"><a href="#" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                            <li class="social-google"><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                        </ul>	
				</address>					
			
			</div>	
		</div>
    </div>	

		</div>
	</section>
	<!-- /Section: contact -->

{% endblock %}
