{% extends 'wsadmin/base.html' %}
{% block body_block %}
 
<br><br>
<br><br>
<section id="intro">
</section>
<section id="about" class="home-section text-center">
<br><br>
<center>
<h1>Send In kind Donation</h1>

<form  action="" method="post">
{% csrf_token %}
<table>
  {% for field in inkind_form %} 
  <tr>
     <div class="fieldWrapper">
          {% if is_loggedin %}
              {% if field.label_tag == Name %} hello
              {% elif field.label_tag == Email %}
              {% elif field.label_tag == Address %}
              {%endif%}
          {% else %}
              <td style="padding-right:40px;padding-top:35px;"> {{ field.errors }} </td>
              <td style="padding-right:60px;">{{ field.label_tag }}</td> 
              <td> {{ field }} </td>
          {% endif %}
           
        </div>
   </tr>
   {% endfor %}   
</table>
<button style="width:250px;margin-left: 60px;margin-top: 20px;" type="submit" class="btn btn-skin" name="Send" value="Send">Submit Donation Details</button>
</form>

<br><br>
</center>
</section>
{% endblock %}
