{% extends 'wsadmin/base.html' %}
{% block body_block %}
 
<br><br>
<br><br>
<section id="intro">
</section>
<section id="about" class="home-section text-center">
<br><br>
<center>
<div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Admin Page</h1>
                        <br>
                       <h3> Welcome {{user.username}}! </h3>
                       
                    </div>
                </div>
</div>

<br><br>
</center>
</section>
{% endblock %}